.popup__button-save {
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  background-color: #000;
  height: 50px;
  width: 358px;
  border-radius: 2px;
  border: none;
  margin: auto 36px auto 36px;
  font-style: normal;
  font-size: 18px;
  font-weight: 22px;
  text-align: center;
  cursor: pointer;
}

.popup__button-save:hover {
  opacity: 0.8;
}

@media (max-width: 668px) {
  .popup__button-save {
    margin: auto 22px auto 22px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    font-weight: 17px;
  }
}
