.grid-menu__like-black {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/like_black.png);
  color: #000;
  padding: 0;
  background-size: 19px 22px cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
