.popup__content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  min-height: 200px;
}

@media (max-width: 668px) {
  .popup__content {
    max-width: 282px;
  }
}
