.popup__overlay {
  position: fixed;
  background-color: #FFF;
  border-radius: 10px;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
}

@media (max-width: 668px) {
  .popup__overlay {
    max-width: 282px;
    max-height: 322px;
  }
}
