.info__description {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  max-width: 336px;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 568px) {
  .info__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 10px;
  }
}
