.profile__add {
  max-width: 22px;
  max-height: 22px;
  background-image: url(../../../images/addButton.svg);
  padding: 23px 73px;
  border: 2px solid white;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 33px 0 auto auto;
  background-color: black;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .profile__add {
    max-width: 16px;
    max-height: 16px;
    padding: 23px 139px;
    margin: 36px auto 0 auto;
  }
}
