.info {
  margin-top: 22px;
}
@media (max-width: 568px) {
  .info {
    /* margin: 0 auto; */
    margin: 0 auto;
    min-height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* justify-content: space-between; */
  }
}
