.edit {
  font-family: 'Inter', Arial, sans-serif;
  color: #000;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  visibility: hidden;
  /* display: none; */

  /* background: #FFFFFF;
  max-width: 430px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
*/
  /* visibility: hidden; */
}

.edit_visibility {
  visibility: visible;
}
