/* .profile__info {
  display: flex;
  width: 100%;
  margin-left: 30px;
}

@media (max-width: 568px) {
  .profile__info {
    margin: 26px auto auto auto;
    min-height: 54px;
    width: auto;
  }
} */
.profile__info {
  margin: 0;
  padding: 0;
}
