.footer {
  margin: 67px 0 0 0;
  padding: 0;
  max-width: 318px;
  min-width: 282px;
}

@media screen and (max-width: 568px){
  .footer {
    margin: 48px 19px 0 19px;
    min-width: 282px;
  }
}
